@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SolaimanLipi";
  src: url("/fonts/SolaimanLipi.ttf") format("truetype");
}

body {
  overflow-x: hidden !important;
}

/* Top Loader */
#nprogress .bar {
  @apply !bg-primary;
}

#nprogress .spinner-icon {
  @apply !border-t-primary !border-l-primary;
}

#nprogress .peg {
  box-shadow:
    0 0 10px hsla(var(--primary)),
    0 0 5px hsla(var(--primary)) !important;
}

/* Reset Scrollbar */
::-webkit-scrollbar {
  @apply w-[0.3rem] bg-[#fff] rounded-[0.6rem];
}
::-webkit-scrollbar-thumb {
  @apply bg-[#6d6c6c] rounded-[0.6rem] hover:bg-[#313131] duration-500;
}

/* Hide Vertical Scrollbar for "hide-scrollbar" class */
.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.ql-container {
  @apply border rounded-2xl rounded-tl-none rounded-tr-none;
}

.ql-toolbar {
  @apply border rounded-2xl rounded-bl-none rounded-br-none;
}

/* React Code Editor */
.cm-editor {
  @apply !rounded-md !overflow-hidden !border !shadow-sm !transition-colors;
}

.cm-focused {
  @apply !outline-none;
}

.cm-editor .cm-content .cm-line {
  @apply !text-sm;
}

.cm-editor .cm-scroller {
  @apply !overflow-x-auto;
}

.cm-editor .cm-content {
  @apply !pt-4;
}
