@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SolaimanLipi";
  src: url("/fonts/SolaimanLipi.ttf") format("truetype");
}

body {
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  @apply w-[0.2rem] bg-[#fff] rounded-[0.6rem];
}
::-webkit-scrollbar-thumb {
  @apply bg-[#21222c] rounded-[0.6rem] hover:bg-[#363536] duration-500;
}

#nprogress .bar {
  @apply !bg-primary;
}

#nprogress .spinner-icon {
  @apply !border-t-primary !border-l-primary;
}

#nprogress .peg {
  box-shadow: 0 0 10px hsla(var(--primary)), 0 0 5px hsla(var(--primary)) !important;
}

.ql-container {
  @apply border rounded-2xl rounded-tl-none rounded-tr-none;
}

.ql-toolbar {
  @apply border rounded-2xl rounded-bl-none rounded-br-none;
}
